<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="config">Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Título da página.-->
  <ion-button class="bot">Tamanho da Letra</ion-button>
  <!--Botão que altera o tamanho da letra.-->

  <ion-button class="bot" [routerLink]="['local']">Locais Favoritos</ion-button>
  <!--Botão de verificação de locais favoritos.-->

  <ion-button class="bot" [routerLink]="['perfil']">Perfil</ion-button>
  <!--Botão para acessar a página de perfil.-->

  <ion-button class="bot">Configurações</ion-button>
  <!--Botão para acesso da página de Configurações.-->

  <ion-button class="bot">Configurações</ion-button>
</ion-content>