<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-card style='margin-top: 15%;'>
    <ion-card-content>
      Gente , eu estava andando na região 
      da biblioteca municipal, e um homem
      encapuzado me abordou, falando 
      coisas obscenas, tentei sair corren..
    </ion-card-content>
    <ion-card-content class='ion-float-end'>
      <ion-row>
      <ion-icon name="heart-outline" onclick='href=""'></ion-icon> <h3 color='tertiary'>160</h3>
    </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card style='margin-top: 5%;'>
    <ion-card-content>
      Gente , eu estava andando na região 
      da biblioteca municipal, e um homem
      encapuzado me abordou, falando 
      coisas obscenas, tentei sair corren..
    </ion-card-content>
    <ion-card-content class='ion-float-end'>
      <ion-row>
      <ion-icon name="heart-outline" onclick='href=""'></ion-icon> <h3 color='tertiary'>160</h3>
    </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
