// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
 
/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #FADDFF;
  --ion-color-primary-rgb: 250,221,255;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #dcc2e0;
  --ion-color-primary-tint: #fbe0ff;
 
  --ion-color-secondary: #D7FDFF;
  --ion-color-secondary-rgb: 215,253,255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #bddfe0;
  --ion-color-secondary-tint: #dbfdff;
 
  --ion-color-tertiary: #E283F2;
  --ion-color-tertiary-rgb: 226,131,242;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #c773d5;
  --ion-color-tertiary-tint: #e58ff3;
 
  --ion-color-success: #DFFCD2;
  --ion-color-success-rgb: 223,252,210;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #c4deb9;
  --ion-color-success-tint: #e2fcd7;
 
  --ion-color-danger: #FFF8BB;
  --ion-color-danger-rgb: 255,248,187;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #e0daa5;
  --ion-color-danger-tint: #fff9c2;
 
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
 
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
 
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
 
  //selected
  --ion-color-selected: #D8C0DC;
  --ion-color-selected-rgb: 216,192,220;
  --ion-color-selected-contrast: #000000;
  --ion-color-selected-contrast-rgb: 0,0,0;
  --ion-color-selected-shade: #bea9c2;
  --ion-color-selected-tint: #dcc6e0;
 
  //label-color
  --ion-color-label-color: #979797;
  --ion-color-label-color-rgb: 151,151,151;
  --ion-color-label-color-contrast: #000000;
  --ion-color-label-color-contrast-rgb: 0,0,0;
  --ion-color-label-color-shade: #858585;
  --ion-color-label-color-tint: #a1a1a1;
  
  //config-color
  --ion-color-config-color: #72395E;
  --ion-color-config-color-rgb: 114,57,94;
  --ion-color-config-color-contrast: #ffffff;
  --ion-color-config-color-contrast-rgb: 255,255,255;
  --ion-color-config-color-shade: #643253;
  --ion-color-config-color-tint: #804d6e;
 
  --ion-color-bg-color: #69bb7b;
  --ion-color-bg-color-rgb: 105,187,123;
  --ion-color-bg-color-contrast: #000000;
  --ion-color-bg-color-contrast-rgb: 0,0,0;
  --ion-color-bg-color-shade: #5ca56c;
  --ion-color-bg-color-tint: #78c288;
}