<ion-content>

  <a id="back" href="#" routerLink="/local">
    <ion-icon id="back-icon" name="arrow-back-circle-outline"></ion-icon>
  </a>

  <ion-card *ngFor="let post of posts" id="card">
    <ion-card-header>
      <ion-card-title>
        Anonimo, Joinville SC
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Gente , eu estava andando na região
      da biblioteca municipal, e um homem
      encapuzado me abordou, falando
      coisas obscenas, tentei sair corren..
    </ion-card-content>
    <ion-item lines="none">
      <a href="#" (click)="curte()" slot="end"><ion-icon slot="end" id="like" name="heart"></ion-icon></a>
    </ion-item>
  </ion-card>



</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
  <ion-card id="input">
    <ion-textarea style="text-align: center;" placeholder="Faca sua publicacao"></ion-textarea>   
  </ion-card>
  <ion-button>Envia</ion-button>
  </ion-toolbar>
</ion-footer>