#avatar {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 9%;
}
#textoEmail {
    margin-top: 15%;
}

.ion-content {
    --background: linear-gradient(360deg, #D7FDFF 0%, #FADDFF 100%), #FADDFF;
}

.feminine {
    margin-top: 20%;
}
  
.config {
    margin-top: 100px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
}
  
.margem-acima {
    margin-top: 5%;
}
  
.nome {
    background: black;
    color: white;
}
  
.lista {
    --border-radius: 500px;
    --background: white;
}