<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <h1>Aqui jáz um futuro mapa</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-searchbar class="searchlocal" placeholder="Rua São Lázaro"></ion-searchbar>
        <h3>Selecionar</h3>
        <ion-button class="companhia" href="#">Companhia</ion-button>
        <ion-button class="absorvente" href="#">Absorvente</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
