ion-content {
  --background: linear-gradient(360deg, #D7FDFF 0%, #FADDFF 100%), #FADDFF;
}

.searchlocal {
  --border-radius: 20px;
}

.companhia {
  --background: white;
  --color: #E283F2;
  --border-radius: 20px;
}

.absorvente {
  --background: white;
  --color: #E283F2;
  --border-radius: 20px;
}
//trocar px por %

.lazaro {
  border-radius: 20px;
}
